
<div class="col-md-2">
    <div class="thumbnail">
        <img src="{{ asset("Chatons/" ~ dossier|convert_encoding("UTF-8", 'ISO-8859-1') ~ "/" ~ item.FileName|convert_encoding("UTF-8", 'ISO-8859-1')) }}" class="img-thumbnail">
    </div>
</div>