{% extends "base.html.twig" %}

{% block body %}
    
    <div class="container">
        <h1>Gestion des chatons (version fichiers)</h1>
        <div class="alert alert-info">
            Choisissez un dossier de chatons...
        </div>
    </div>
    
{% endblock %}  
